<body>
  <h1>This is how angular renders components</h1>
  <courses></courses>
  <authors></authors>
  <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>
  <h2>Adding a panel component (made via bootstrap)</h2>
  <!-- The idea is to use ngContent -->
  <bootstrap-panel>
    <!-- Remember you dont need a selector in ng-content if you have only one ng-content -->
    <ng-container class="heading">Heading of Card</ng-container>
    <!--
        problem: There is a lot of extra markup which is not required at all
        to avoid this use ngContainer on the markup you want to only serve as a container
        At run time angular will only render the content of this container
      -->
    <ng-container class="title">Sample title</ng-container>
    <ng-container class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta rem ducimus
      eaque quia
      perspiciatis facilis est libero veritatis similique!</ng-container>
    <!-- 
        Using ng-container is a cleaner way of achieving the markup without using
        any un-nessary markup at all (kinda cool!)
      -->
  </bootstrap-panel>
  <like [likes-count]="tweet.likesCount" [is-active]="tweet.isLiked"></like>
  <!-- To see the working of ngIf directive (with angular4+ syntax) -->
  <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
  <ng-template #coursesList>
    <h2>List of Courses</h2>
  </ng-template>
  <ng-template #noCourses>
    <h2>No courses yet!</h2>
  </ng-template>
  <!-- 
    Second way to hide some content using property binding
    Use ngIf for cases you have large dom tree, since it can be memory intensive
    else if you have a small dom tree, opt for this hidden property method.
    (I like ngIf better)
    For toggling things, use hidden since ngIf may be costly too (that is same premise)
  -->
  <div [hidden]="courses.length === 0">
    <h2>List of Courses2</h2>
  </div>
  <div [hidden]="courses.length > 0">
    <h2>No courses2 yet!</h2>
  </div>
</body>
