<body>
  <h1>This is how angular renders components</h1>
  <courses></courses>
  <authors></authors>
  <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>
  <h2>Adding a panel component (made via bootstrap)</h2>
  <!-- The idea is to use ngContent -->
  <bootstrap-panel>
    <!-- Remember you dont need a selector in ng-content if you have only one ng-content -->
    <ng-container class="heading">Heading of Card</ng-container>
    <!--
        problem: There is a lot of extra markup which is not required at all
        to avoid this use ngContainer on the markup you want to only serve as a container
        At run time angular will only render the content of this container
      -->
    <ng-container class="title">Sample title</ng-container>
    <ng-container class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta rem ducimus
      eaque quia
      perspiciatis facilis est libero veritatis similique!</ng-container>
    <!-- 
        Using ng-container is a cleaner way of achieving the markup without using
        any un-nessary markup at all (kinda cool!)
      -->
  </bootstrap-panel>
  <like [likes-count]="tweet.likesCount" [is-active]="tweet.isLiked"></like>
  <!-- To see the working of ngIf directive (with angular4+ syntax) -->
  <br>
  <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
  <ng-template #coursesList>
    <h2>List of Courses</h2>
  </ng-template>
  <ng-template #noCourses>
    <h2>No courses yet!</h2>
  </ng-template>
  <!-- 
    Second way to hide some content using property binding
    Use ngIf for cases you have large dom tree, since it can be memory intensive
    else if you have a small dom tree, opt for this hidden property method.
    (I like ngIf better)
    For toggling things, use hidden since ngIf may be costly too (that is same premise)
  -->
  <div [hidden]="courses.length === 0">
    <h2>List of Courses2</h2>
  </div>
  <div [hidden]="courses.length > 0">
    <h2>No courses2 yet!</h2>
  </div>
  <br>
  <!-- Understanding trackBy -->
  <button class="btn btn-primary" (click)="loadCourses()">Initialize the Courses</button>
  <!-- Using ngFor -->
  <h2>Below are some courses</h2>
  <button class="btn btn-primary" (click)="onAdd()">Add</button>
  <ul>
    <!-- 
      using features of exported values by ngFor
      -- some of them are
      index: number, first: boolean, last: boolean, even: boolean, odd: boolean
    -->
    <li *ngFor="let course of courses; trackBy: trackCourse; index as idx; even as isEven;">
      <!-- idx can be interpolated -->
      {{ idx }} - {{ course.name }} <span *ngIf="isEven">(EVEN)</span>
      <button class="btn btn-secondary" (click)="onRemove(course)">Remove</button>
    </li>
  </ul>
  <br>
  <h2>One more button</h2>
  <button [style.backgroundColor]="canSave ? 'blue' : 'gray'" [style.color]="canSave ? 'white' : 'black'"
    [style.fontWeight]="canSave ? 'bold' : 'normal'">button one</button>
  <br>
  <button [ngStyle]="{
      'backgroundColor': canSave ? 'blue': 'gray',
      'color': canSave ? 'white': 'black'
    }">button two
  </button>
  <br>
  <!-- Checking the working of safe traversal operator -->
  <h3>You know nothing {{ task.assignee.firstName }} <span *ngIf="task.assignee">{{ task.assignee.lastName }}</span>
  </h3>
  <!-- Using safe traversal operator instead of (ngIf) -->
  <!-- <h3> You know nothing {{ task.assignee?.firstName }}</h3> -->
  <h2>Now to use a custom made directive</h2>
  <div class="input-group input-group-sm mb-3">
    <!-- <div class="input-group-prepend"> -->
    <!--   <span class="input-group-text" id="inputGroup-sizing-sm">Small</span> -->
    <!-- </div> -->
    <!-- <input appInputFormat [format]="'uppercase'" type="text" class="form-control" aria-label="Small" -->
    <!--   aria-describedby="inputGroup-sizing-sm"> -->
    <!-- <br> -->
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
    </div>
    <input [appInputFormat]="'uppercase'" type="text" class="form-control" aria-label="Small"
      aria-describedby="inputGroup-sizing-sm">
  </div>

</body>
